<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>635948642013-aqee35fsod4mle23kjpfs8rtcqessgn7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.635948642013-aqee35fsod4mle23kjpfs8rtcqessgn7</string>
	<key>API_KEY</key>
	<string>AIzaSyBwAnKf2oXK6gwyKdJKxU-hGkJiP4FUBk8</string>
	<key>GCM_SENDER_ID</key>
	<string>635948642013</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stock.practice</string>
	<key>PROJECT_ID</key>
	<string>stock-76321</string>
	<key>STORAGE_BUCKET</key>
	<string>stock-76321.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:635948642013:ios:3b55d8f3f6a95a93f07534</string>
</dict>
</plist>